@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-charcoal: #333;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font: 13px/100% Apple SD Gothic Neo, "Apple SD 산돌고딕 Neo", "Roboto", "맑은 고딕",
    "Malgun Gothic", "Apple Gothic", "나눔고딕", "Nanum Gothic", "돋움", Dotum, "Helvetica Neue",
    Helvetica, Arial, sans-serif;
}